node_modules
dist
dist-ssr
*.local
.DS_Store
.env
.env.local
.env.*.local
.vite
.netlify
.cache
*.log
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea
.vscode/*
!.vscode/extensions.json

# blender render outputs
blender/out/
*.blend1
